<div class="panier-container">
    <h1 class="panier-container-title">Basket page</h1>
    <mat-grid-list *ngIf="(articles$ | async) as articles" class="panier-container-grid" cols="{{gridCols | async}}" rowHeight="260px"
        [gutterSize]="'40px'">
        <mat-grid-tile *ngFor="let article of articles; index as i" class="panier-container-item">
            <mat-card class="panier-container-item-mat-card">
                <ng-container *ngIf="article instanceof IBook">
                    <mat-card-header>
                        <h3>{{article.title}}</h3>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            {{article.synopsis[0].substring(0, 100) + '...'}}
                        </p>

                        <h3>{{article.price + ' €'}}</h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button class="remove-item" (click)="removeArticleIntoPanier(i)">Delete of the basket</button>
                    </mat-card-actions>
                </ng-container>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-container
        *ngIf="{article : articles$ | async, price: panierAmountWithoutReduction$ | async , finalPrice : panierAmountWithReduction$ | async, selectedCard : selectedCard$ | async} as data">
        <h3 class="panier-container-total-price" *ngIf="data.article.length">Total price : <span>{{data.finalPrice}}
                €</span> <span> {{data.price}} € </span></h3>
        <div class="panier-container-commande-container" *ngIf="data.article.length">
            <button mat-raised-button [disabled]='!data.selectedCard' (click)="doTransaction()"
                class="panier-container-commande-container-button">Commander</button>
            <span *ngIf="!data.selectedCard">You must registered a card from <a
                    routerLink="/profil">profil</a> page for process the order!</span>
            <span *ngIf="data.selectedCard">Your order will be paid with card of number :
                {{ data.selectedCard.cardNumber }}</span>
        </div>
    </ng-container>
</div>