.articles-list-container {
  &-title {
    text-align: center;
  }
  &-item {
      padding-top: 24px !important;
      &-mat-card {
        width: calc(100% - 70px);
        height: 80%;
      }
  } 
}
