<div class="header-container">
    <nav class="header-container-nav">
        <button mat-button class="header-container-nav-item home-item"><a routerLink="/bankaccount/accounts" routerLinkActive="header-container-nav-active-item">Home</a></button>
        <button mat-button class="header-container-nav-item profil-item"><a routerLink="/bankaccount/manage" routerLinkActive="header-container-nav-active-item">Profil</a></button>
        <button mat-button class="header-container-nav-item panier-item"><a routerLink="/bankaccount/manage" routerLinkActive="header-container-nav-active-item">Panier</a></button>
    </nav>
</div>